/* ******************************************************************** *
 * ********************* General Styles + Colors ********************** *

		Cherry Red: #991a1e;
		Grey: #999999;
		Light Grey: #eaeaea;
		Dark Grey: #2a2a2a;

 * ******************************************************************** */

 .section1 {
 	max-width: 960px;
 	height: auto;
 	margin: 0 auto;
 }

 .section1 h1 {
 	text-align: center;
 	color: #2a2a2a;
 }

 .section1 h2 {
 	color: #991a1e;
 }

 .section2 {
 	background: url('../imgs/aboutTKE.jpg') center center;
 	background-size: cover;
 	position: relative;
 	margin-top: 60px;
 }

.section2 .insideSection2 {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}
 .section2 .insideSection2 h3 {
 	color: #eaeaea;
 }

  .section2 .insideSection2 h2 {
  	padding-top: 60px;
  	margin-top: 0;
  	color: white;
 }

.section2 .insideSection2 p {
	color: white;
}

.section3 {
	max-width: 960px;
	margin: 0 auto;
	margin-top: 30px;
}

.section3 h2 {
	color: #991a1e;
}

.section3 img {
	display: inline-block;
	height: 25px;
	width: 25px;

}
footer {
	margin-top: 30px;
	width: 100%;
}

