#ulOfMembers {
  margin: 0;
  padding: 0;
  list-style: none; /*gets rid of bullet points */
} 

#ulOfMembers li {
  float: left;
  width: 300px;
  margin: 1%;
  background-color: #2a2a2a;
  color: #bdc3c7;
}

#ulOfMembers li p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: white;
  text-align: center;
} 