/* ******************************************************************** *
 * ********************* General Styles + Colors ********************** *

		Cherry Red: ##991a1e;
		Grey: #999999;
		Light Grey: #eaeaea;
		Dark Grey: #2a2a2a;

 * ******************************************************************** */
body {
	background-color: #ffffff;
}

#wrapper {
	max-width: 940px;
}

a {
	text-decoration: none;
}